In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql://root:Alex6581@localhost/real_estate')

connection = engine.connect()

data = pd.read_sql("full_properties_final", engine)

In [184]:
df = data

In [185]:
def convert_frequencies(x):
    frequency = x[0]
    price = x[1]
    
    if frequency == 'monthly':
        return price * 12
    elif frequency == 'weekly':
        return (price / 7) * 365
    elif frequency == 'daily':
        return price * 365
    elif frequency == 'quarterly':
        return price * 4
    else: # Yearly
        return price

df['yearly_price'] = df[['frequency', 'price']].apply(convert_frequencies, axis=1)

df = df.reset_index(drop=True)

In [177]:
property_ = data.iloc[5]

In [178]:
property_

property_id                                                6402007
bedrooms                                                         2
bathrooms                                                      666
latitude                                                 54.971611
longitude                                                 -1.60881
price                                                         1200
frequency                                                  monthly
currency_code                                                  GBP
property_type                                            Apartment
summary          Fifth floor apartment with stunning views over...
feature_list     Double GlazedLaminate FlooringWhite GoodsTwo b...
postcode                                                       DH5
source                                                   rightmove
Name: 5, dtype: object

In [179]:
property_id = property_['property_id']
lat = property_['latitude']
lon = property_['longitude']

In [333]:
from datetime import datetime

api_key='AIzaSyB3VK4hlZrFwDMtilckKGgqUhlELUzcxIs'

import requests

url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat}%2C{lon}&radius=1500&key={api_key}"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

res = response.json()

In [334]:
results = res['results']

In [350]:
place_1 = results[1]

In [495]:
new_results = []

In [496]:
for res in results:
    if 'rating' in res.keys():
        rating = res['rating']
    else:
        rating = None
    item_dict = {
        "lat": res['geometry']['location']['lat'],
        "lng": res['geometry']['location']['lng'],
        "types": res['types'],
        "name": res['name'],
        "rating": rating
    }
    
    new_results.append(item_dict)

In [500]:
import json
json_d = json.dumps(new_results)

In [503]:
json.loads(json_d)

[{'lat': 54.978252,
  'lng': -1.61778,
  'types': ['locality', 'political'],
  'name': 'Newcastle upon Tyne',
  'rating': None},
 {'lat': 54.9690857,
  'lng': -1.62265,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'Holiday Inn Express Newcastle City Centre, an IHG Hotel',
  'rating': 4.3},
 {'lat': 54.971087,
  'lng': -1.6103596,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'Grey Street Hotel',
  'rating': 4.2},
 {'lat': 54.96920309999999,
  'lng': -1.6153366,
  'types': ['spa',
   'lodging',
   'restaurant',
   'food',
   'bar',
   'point_of_interest',
   'establishment'],
  'name': 'Royal Station Hotel',
  'rating': 4},
 {'lat': 54.9694444,
  'lng': -1.6169444,
  'types': ['lodging',
   'restaurant',
   'food',
   'point_of_interest',
   'establishment'],
  'name': 'The County Hotel, Newcastle',
  'rating': 4},
 {'lat': 54.96911230000001,
  'lng': -1.6096453,
  'types': ['lodging', 'bar', 'point_of_interest', 'establishment'],
  'name': 'The Vermont Hotel',
  'rating': 4.3},
 {'lat': 54.97060500000001,
  'lng': -1.617972,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'Hotel Indigo Newcastle, an IHG Hotel',
  'rating': 4.4},
 {'lat': 54.97322639999999,
  'lng': -1.6080379,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'YHA Newcastle Central',
  'rating': 4},
 {'lat': 54.9664014,
  'lng': -1.6058349,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'Hilton Newcastle Gateshead',
  'rating': 4.2},
 {'lat': 54.9693414,
  'lng': -1.5952728,
  'types': ['lodging',
   'restaurant',
   'food',
   'point_of_interest',
   'establishment'],
  'name': 'Jurys Inn Newcastle Quayside',
  'rating': 4},
 {'lat': 54.96944509999999,
  'lng': -1.6137905,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'Sleeperz Hotel',
  'rating': 4.2},
 {'lat': 54.9702356,
  'lng': -1.6089992,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'Surtees Hotel',
  'rating': 3.6},
 {'lat': 54.97058750000001,
  'lng': -1.6002164,
  'types': ['spa',
   'lodging',
   'restaurant',
   'food',
   'bar',
   'point_of_interest',
   'establishment'],
  'name': 'Malmaison Newcastle',
  'rating': 4.5},
 {'lat': 54.9684341,
  'lng': -1.6086934,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'Waterside Hotel Newcastle',
  'rating': 3.8},
 {'lat': 54.97231370000001,
  'lng': -1.5958658,
  'types': ['lodging',
   'restaurant',
   'food',
   'point_of_interest',
   'establishment'],
  'name': 'Premier Inn Newcastle City Centre Millennium Bridge hotel',
  'rating': 4.1},
 {'lat': 54.9659965,
  'lng': -1.6225407,
  'types': ['lodging',
   'restaurant',
   'food',
   'point_of_interest',
   'establishment'],
  'name': 'Jurys Inn Newcastle',
  'rating': 4},
 {'lat': 54.9736529,
  'lng': -1.6219119,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'Sandman Signature Newcastle Hotel',
  'rating': 4.2},
 {'lat': 54.9678893,
  'lng': -1.5963465,
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'name': 'Ramada Encore by Wyndham Newcastle-Gateshead',
  'rating': 4},
 {'lat': 54.96882309999999,
  'lng': -1.6063453,
  'types': ['lodging',
   'restaurant',
   'food',
   'point_of_interest',
   'establishment'],
  'name': 'Premier Inn Newcastle Quayside hotel',
  'rating': 3.8},
 {'lat': 54.95268,
  'lng': -1.603411,
  'types': ['locality', 'political'],
  'name': 'Gateshead',
  'rating': None}]

In [118]:
location = place_1['geometry']['location']

In [119]:
name = place_1['name']

In [120]:
rating = place_1['rating']

In [121]:
types = place_1['types']

In [122]:
remove_list = ['establishment', 'point_of_interest']

In [123]:
cleaned_types = [x for x in types if x not in remove_list]

In [153]:
cleaned_types

['cafe', 'food', 'store']

In [125]:
def extract_data(result):
    location = result['geometry']['location']
    name = result['name']
    types = result['types']
    
    remove_list = ['establishment', 'point_of_interest']
    cleaned_types = [x for x in types if x not in remove_list]
    
    try:
        rating = result['rating']
    except:
        rating = None
    
    return {
        "longitude" : location["lng"],
        "latitude": location["lat"],
        "name": name,
        "types": cleaned_types,
        "rating": rating
    }

In [154]:
extract_data(place_1)

{'longitude': -4.496742500000001,
 'latitude': 55.61027000000001,
 'name': 'Costa Coffee',
 'types': ['cafe', 'food', 'store'],
 'rating': 4.2}

In [187]:
extracted_list = []
for result in results:
    extracted = extract_data(result)
    extracted_list.append(extracted)

In [171]:
import numpy as np

In [172]:
cleaned_ratings = [x for x in ratings if x != None]

In [173]:
np.average(cleaned_ratings)

3.7437499999999995

### Loop

In [198]:
all_data = []

In [ ]:
for row in df[:2000].itertuples():
    new_row = {}
    index = row.Index
    
    iter_row = df.iloc[index]
    
    latitude = iter_row['latitude']
    longitude = iter_row['longitude']
    
    new_row['property_id'] = iter_row['property_id']
    new_row['latitude'] = latitude
    new_row['longitude'] = longitude
    new_row['yearly_price'] = iter_row['yearly_price']
    
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={latitude}%2C{longitude}&radius=1500&key={api_key}"

    payload={}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)

    res = response.json()
    results = res['results']
    
    extracted_list = []
    for result in results:
        extracted = extract_data(result)
        extracted_list.append(extracted)
        
    new_row['geo_data'] = extracted_list
    
    all_data.append(new_row)
    print("Extracted")

### Pandas

In [241]:
housing = df[['property_id', 'bedrooms', 'bathrooms']]

In [ ]:
housing['bathrooms'] = housing['bathrooms'].replace(666, np.nan)

In [ ]:
housing['bedrooms'] = housing['bedrooms'].replace(666, np.nan)

In [ ]:
housing['bathrooms'].fillna((housing['bathrooms'].mean()), inplace=True)
housing['bedrooms'].fillna((housing['bedrooms'].mean()), inplace=True)

In [250]:
new_housing = housing.merge(geo_df, on='property_id')

In [4]:
import pandas as pd

In [397]:
geo_df = pd.DataFrame(all_data)

In [7]:
geo_df = pd.read_csv("geo_df.csv")

In [218]:
city_center_lat = geo_df.iloc[0]['geo_data'][0]['latitude'], 
city_center_lon = geo_df.iloc[0]['geo_data'][0]['longitude']
city_center_coor = city_center_lat, city_center_lon

In [216]:
property_coor = geo_df.iloc[0].latitude, geo_df.iloc[0].longitude

In [8]:
import math


def distance(origin, destination):
    """
    Calculate the Haversine distance.

    Parameters
    ----------
    origin : tuple of float
        (lat, long)
    destination : tuple of float
        (lat, long)

    Returns
    -------
    distance_in_km : float

    Examples
    --------
    >>> origin = (48.1372, 11.5756)  # Munich
    >>> destination = (52.5186, 13.4083)  # Berlin
    >>> round(distance(origin, destination), 1)
    504.2
    """
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371  # km

    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) * math.sin(dlon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = radius * c

    return d

In [217]:
distance(property_coor, city_center_coor)

1.0223672409835554

In [361]:
all_types = []

In [362]:
import ast

In [426]:
geo_df = pd.DataFrame(all_data)

In [ ]:
for row in geo_df.itertuples():
    index = row.Index
    iter_row = geo_df.iloc[index]
    
    geo_data = iter_row['geo_data']
    
    # Dist to center
    city_center_lat = geo_data[0]['latitude']
    city_center_lon = geo_data[0]['longitude']
    city_center_coor = city_center_lat, city_center_lon
    
    property_coor = iter_row.latitude, iter_row.longitude
    
    geo_df.at[index, 'dist_to_center'] = distance(property_coor, city_center_coor)
    
    # Average rating
    all_types_current = set()
    for loc in geo_data:
        types = loc['types']
        
        for type_ in types:
            if type_ == 'pharmacy':
                print(types)
            all_types.append(type_)
            all_types_current.add(type_)
            
    for main_type in unique_types:
        if main_type in all_types_current:
            geo_df.at[index, main_type] = 1
        else:
            geo_df.at[index, main_type] = 0
    
#     average_rating = np.average(ratings)
#     geo_df.at[index, 'average_rating'] = average_rating

In [428]:
geo_df

,property_id,latitude,longitude,yearly_price,geo_data,dist_to_center,rv_park,school,city_hall,taxi_stand,...,pet_store,painter,synagogue,parking,drugstore,hardware_store,moving_company,bakery,storage,cafe
0,4578540,55.612389,-4.514540,4680.0,"[{'longitude': -4.498792, 'latitude': 55.61471...",1.022367,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,5103608,51.736160,-1.204930,16200.0,"[{'longitude': -1.2577263, 'latitude': 51.7520...",4.040229,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,5384437,52.617531,-1.118910,12480.0,"[{'longitude': -1.1397592, 'latitude': 52.6368...",2.570663,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
3,6333310,53.513779,-2.040980,5100.0,"[{'longitude': -2.1113659, 'latitude': 53.5409...",5.546134,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6360493,51.255749,-0.935240,13200.0,"[{'longitude': -0.9395249999999999, 'latitude'...",0.334646,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,75000444,53.531792,-1.123730,5475.0,"[{'longitude': -1.128462, 'latitude': 53.52282...",1.045491,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,75002391,51.904209,-0.461810,9984.0,"[{'longitude': -0.4200255, 'latitude': 51.8786...",4.035631,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,75002868,50.922169,-1.392600,20388.0,"[{'longitude': -1.4049018, 'latitude': 50.9105...",1.553628,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1998,75003060,52.633423,1.279732,21600.0,"[{'longitude': 1.2978802, 'latitude': 52.62925...",1.309481,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1999,75004371,51.933498,-0.177010,12600.0,"[{'longitude': -0.196612, 'latitude': 51.90376...",3.569483,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [373]:
type_class_dict = {
    "food": ['food'],
    "store": ['store', 'car_repair'],
    "leisure": ['restaurant', 'bar', 'cafe'],
    "admin": ['political', 'locality', 'sublocality', 'sublocality_level_1'],
    "services": ['finance', 'real_estate_agency', 'general_contractor'],
    "school": ['school', 'university', 'secondary_school'],
    "local": ['place_of_worship', 'tourist_attraction'],
    "health": ['health']
}

In [377]:
for type_class in type_class_dict:
    print(type_class_dict[type_class])

['food']
['store', 'car_repair']
['restaurant', 'bar', 'cafe']
['political', 'locality', 'sublocality', 'sublocality_level_1']
['finance', 'real_estate_agency', 'general_contractor']
['school', 'university', 'secondary_school']
['place_of_worship', 'tourist_attraction']
['health']

In [390]:
type_class_dict.values()

dict_values([['food'], ['store', 'car_repair'], ['restaurant', 'bar', 'cafe'], ['political', 'locality', 'sublocality', 'sublocality_level_1'], ['finance', 'real_estate_agency', 'general_contractor'], ['school', 'university', 'secondary_school'], ['place_of_worship', 'tourist_attraction'], ['health']])

In [405]:
geo_df = pd.DataFrame(all_data)

In [ ]:
for row in geo_df.itertuples():
    index = row.Index
    iter_row = geo_df.iloc[index]
    
    geo_data = iter_row['geo_data']
    
    type_class_dict = {
    "food": ['food'],
    "store": ['store', 'car_repair'],
    "leisure": ['restaurant', 'bar', 'cafe'],
    "admin": ['political', 'locality', 'sublocality', 'sublocality_level_1'],
    "services": ['finance', 'real_estate_agency', 'general_contractor'],
    "school": ['school', 'university', 'secondary_school'],
    "local": ['place_of_worship', 'tourist_attraction'],
    "health": ['health']
    }

    review_class_dict = {
    "food": [],
    "store": [],
    "leisure": [],
    "admin": [],
    "services": [],
    "school": [],
    "local": [],
    "health": []
    }
        
    
    
    # Dist to center
    city_center_lat = geo_data[0]['latitude']
    city_center_lon = geo_data[0]['longitude']
    city_center_coor = city_center_lat, city_center_lon
    
    property_coor = iter_row.latitude, iter_row.longitude
    
    geo_df.at[index, 'dist_to_center'] = distance(property_coor, city_center_coor)
    
    # Average rating
    all_types_current = set()
    for loc in geo_data:
        types = loc['types']
        
        for type_ in types:
            for type_class_
#             all_types_current.add(type_)
            
    print(all_types_current)
        
    for type_class in type_class_dict:
        type_class_list = type_class_dict[type_class]
        matching_types = [x for x in type_class_list if x in all_types_current]
        if len(matching_types) > 0:
            geo_df.at[index, type_class] = 1
        else:
            geo_df.at[index, type_class] = 0
#             for type_ in types:
#                 if type_ == type_class_list:
#                     geo_df.at[index, type_class] = 1
#                 else:
#                     geo_df.at[index, type_class] = 0
#     average_rating = np.average(ratings)
#     geo_df.at[index, 'average_rating'] = average_rating

In [414]:
leisure_list = ['restaurant', 'bar', 'cafe']

In [422]:
geo_df = pd.DataFrame(all_data)

In [ ]:
for row in geo_df.itertuples():
    index = row.Index
    iter_row = geo_df.iloc[index]
    
    geo_data = iter_row['geo_data']
    
    review_class_dict = {
    "food": [],
    "store": [],
    "leisure": [],
    "admin": [],
    "services": [],
    "school": [],
    "local": [],
    "health": []
    }
    
    leisure_reviews = []
        
    
    
    # Dist to center
    city_center_lat = geo_data[0]['latitude']
    city_center_lon = geo_data[0]['longitude']
    city_center_coor = city_center_lat, city_center_lon
    
    property_coor = iter_row.latitude, iter_row.longitude
    
    geo_df.at[index, 'dist_to_center'] = distance(property_coor, city_center_coor)
    
    # Average rating
    all_types_current = set()
    for loc in geo_data:
        types = loc['types']
        rating = loc['rating']
        
        for type_ in types:
            if type_ in leisure_list and rating != None:
                leisure_reviews.append(rating)
    
    if len(leisure_reviews) > 0:
        print(leisure_reviews)
        geo_df.at[index, 'leisure_rating'] = np.average(leisure_reviews)
    else:
        geo_df.at[index, 'leisure_rating'] = 0

In [357]:
lodging Lodging
food                       7765	Food
store                      7169	Store
restaurant                 5646	Leisure
political                  3951	Administrative
bar                        3048	Leisure
locality                   2832	Administrative
health                     2558	Services
finance                    1446	Services
car_repair                 1228	Services
meal_takeaway              1129	Food
clothing_store             1021	Store
home_goods_store           1015	Store
sublocality                 993	Administrative
sublocality_level_1         993	Administrative
school                      993	School
real_estate_agency          925	Services
grocery_or_supermarket      904	Services
supermarket                 863	Store
general_contractor          820	Services
convenience_store           772	Store
university                  699	School
shoe_store                  653	Store
cafe                        645	Leisure
gym                         604	Services
book_store                  590	Store
electronics_store           516	Store
place_of_worship            509	Local
furniture_store             490	Store
hair_care                   483	Store
church                      470	Local
bank                        466	Services
atm                         399	Services
bicycle_store               392	Store
spa                         381	Store
tourist_attraction          365	Local
pharmacy                    338	Store
doctor                      300	Services
beauty_salon                296	Store
car_dealer                  291	Store
hospital                    273	Services
secondary_school            266	School
bakery                      261	Food
movie_theater               235	Recreation
post_office                 201	Services
car_rental                  198	Store
liquor_store                196	Store
meal_delivery               192	Food
jewelry_store               181	Store
plumber                     180	Services

{'accounting',
 'airport',
 'amusement_park',
 'aquarium',
 'art_gallery',
 'atm',
 'bakery',
 'bank',
 'bar',
 'beauty_salon',
 'bicycle_store',
 'book_store',
 'bowling_alley',
 'bus_station',
 'cafe',
 'campground',
 'car_dealer',
 'car_rental',
 'car_repair',
 'car_wash',
 'casino',
 'cemetery',
 'church',
 'city_hall',
 'clothing_store',
 'convenience_store',
 'courthouse',
 'dentist',
 'department_store',
 'doctor',
 'drugstore',
 'electrician',
 'electronics_store',
 'embassy',
 'finance',
 'fire_station',
 'florist',
 'food',
 'funeral_home',
 'furniture_store',
 'gas_station',
 'general_contractor',
 'grocery_or_supermarket',
 'gym',
 'hair_care',
 'hardware_store',
 'health',
 'hindu_temple',
 'home_goods_store',
 'hospital',
 'insurance_agency',
 'jewelry_store',
 'laundry',
 'lawyer',
 'library',
 'liquor_store',
 'local_government_office',
 'locality',
 'locksmith',
 'lodging',
 'meal_delivery',
 'meal_takeaway',
 'mosque',
 'movie_theater',
 'moving_company',
 'museum',
 'natural_feature',
 'neighborhood',
 'night_club',
 'painter',
 'park',
 'parking',
 'pet_store',
 'pharmacy',
 'physiotherapist',
 'place_of_worship',
 'plumber',
 'police',
 'political',
 'post_office',
 'primary_school',
 'real_estate_agency',
 'restaurant',
 'roofing_contractor',
 'rv_park',
 'school',
 'secondary_school',
 'shoe_store',
 'shopping_mall',
 'spa',
 'stadium',
 'storage',
 'store',
 'sublocality',
 'sublocality_level_1',
 'subway_station',
 'supermarket',
 'synagogue',
 'taxi_stand',
 'tourist_attraction',
 'train_station',
 'transit_station',
 'travel_agency',
 'university',
 'veterinary_care',
 'zoo'}

In [424]:
geo_df

,property_id,latitude,longitude,yearly_price,geo_data,dist_to_center,leisure_rating
0,4578540,55.612389,-4.514540,4680.0,"[{'longitude': -4.498792, 'latitude': 55.61471...",1.022367,4.075000
1,5103608,51.736160,-1.204930,16200.0,"[{'longitude': -1.2577263, 'latitude': 51.7520...",4.040229,3.733333
2,5384437,52.617531,-1.118910,12480.0,"[{'longitude': -1.1397592, 'latitude': 52.6368...",2.570663,3.500000
3,6333310,53.513779,-2.040980,5100.0,"[{'longitude': -2.1113659, 'latitude': 53.5409...",5.546134,4.600000
4,6360493,51.255749,-0.935240,13200.0,"[{'longitude': -0.9395249999999999, 'latitude'...",0.334646,4.400000
...,...,...,...,...,...,...,...
1995,75000444,53.531792,-1.123730,5475.0,"[{'longitude': -1.128462, 'latitude': 53.52282...",1.045491,4.083333
1996,75002391,51.904209,-0.461810,9984.0,"[{'longitude': -0.4200255, 'latitude': 51.8786...",4.035631,3.650000
1997,75002868,50.922169,-1.392600,20388.0,"[{'longitude': -1.4049018, 'latitude': 50.9105...",1.553628,4.160000
1998,75003060,52.633423,1.279732,21600.0,"[{'longitude': 1.2978802, 'latitude': 52.62925...",1.309481,4.050000
1999,75004371,51.933498,-0.177010,12600.0,"[{'longitude': -0.196612, 'latitude': 51.90376...",3.569483,4.500000

In [233]:
geo_df.corr()['yearly_price']

property_id       0.004247
latitude         -0.222453
longitude         0.157779
yearly_price      1.000000
dist_to_center    0.133677
average_rating   -0.034126
Name: yearly_price, dtype: float64

In [290]:
uniques = list(unique_types)

In [299]:
unique_test = uniques + numerical

In [298]:
numerical = ['dist_to_center', 'latitude', 'longitude']
non_geo_numerical = ['latitude', 'longitude', 'bedrooms', 'bathrooms']

### OLS analysis

In [300]:
import statsmodels.api as sm

In [453]:

import statsmodels.api as sm
y = geo_df['yearly_price']
X = geo_df[p_key_list]
X = sm.add_constant(X)
model11 = sm.OLS(y, X).fit()
model11.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           yearly_price   R-squared:                       0.106
Model:                            OLS   Adj. R-squared:                  0.095
Method:                 Least Squares   F-statistic:                     9.041
Date:                Mon, 20 Jun 2022   Prob (F-statistic):           2.69e-33
Time:                        14:32:13   Log-Likelihood:                -21625.
No. Observations:                2000   AIC:                         4.330e+04
Df Residuals:                    1973   BIC:                         4.346e+04
Df Model:                          26
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                1.516e+04    857.335     17.688      0.000    1.35e+04    1.68e+04
rv_park             -3144.2541   3525.929     -0.892      0.373   -1.01e+04    3770.682
art_gallery          5234.6261   1638.678      3.194      0.001    2020.905    8448.348
book_store          -3648.1637    674.575     -5.408      0.000   -4971.118   -2325.209
funeral_home         1544.8425   1436.169      1.076      0.282   -1271.725    4361.410
health              -1559.8332    731.217     -2.133      0.033   -2993.872    -125.794
furniture_store     -1467.6262    948.239     -1.548      0.122   -3327.281     392.029
library             -1568.0757   1168.661     -1.342      0.180   -3860.016     723.865
locksmith           -3579.8995   2176.015     -1.645      0.100   -7847.429     687.630
accounting          -1937.5153   1087.496     -1.782      0.075   -4070.276     195.245
museum               3417.0458   1206.987      2.831      0.005    1049.942    5784.150
dentist             -2747.3727   1484.739     -1.850      0.064   -5659.195     164.450
shoe_store          -2290.7397    682.093     -3.358      0.001   -3628.438    -953.042
sublocality          1183.0424    283.317      4.176      0.000     627.410    1738.674
real_estate_agency   1043.8911    600.116      1.739      0.082    -133.036    2220.819
car_repair          -2834.1282    569.009     -4.981      0.000   -3950.049   -1718.207
embassy               2.53e+04   1.21e+04      2.088      0.037    1535.097    4.91e+04
home_goods_store     1198.6454    785.327      1.526      0.127    -341.513    2738.804
sublocality_level_1  1183.0424    283.317      4.176      0.000     627.410    1738.674
hair_care           -2003.5855    697.921     -2.871      0.004   -3372.324    -634.846
department_store     4738.6958   1649.935      2.872      0.004    1502.898    7974.494
pharmacy            -2121.5919    848.067     -2.502      0.012   -3784.793    -458.390
transit_station      4530.6223   1346.166      3.366      0.001    1890.566    7170.679
gym                   810.3886    730.964      1.109      0.268    -623.155    2243.932
lawyer              -2244.2266   1179.521     -1.903      0.057   -4557.465      69.012
movie_theater        2735.5599    919.223      2.976      0.003     932.810    4538.310
bar                  1456.3124    641.944      2.269      0.023     197.353    2715.271
synagogue            8444.5469   6105.661      1.383      0.167   -3529.674    2.04e+04
==============================================================================
Omnibus:                     2343.094   Durbin-Watson:                   1.829
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           376565.891
Skew:                           5.859   Prob(JB):                         0.00
Kurtosis:                      69.193   Cond. No.                     1.25e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.44e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [464]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [473]:
lin_model = LinearRegression()
rf_model = RandomForestRegressor()

In [474]:
from sklearn.model_selection import train_test_split

In [475]:
X = geo_df[p_key_list]
y = geo_df['yearly_price']

In [476]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [477]:
rf_model.fit(X_train, y_train)

RandomForestRegressor()

In [478]:
y_pred = rf_model.predict(X_test)

In [479]:
from sklearn.metrics import mean_squared_error

In [480]:
mean_squared_error(y_test, y_pred) ** 0.5

10901.31336745058

In [439]:
p_values_dict = dict(model11.pvalues)

In [451]:
p_key_list = []

In [452]:
for key, value in p_values_dict.items():
    if value < 0.2:
        if key != 'const':
            p_key_list.append(key)

In [437]:

import statsmodels.api as sm
y = geo_df['yearly_price']
X = geo_df['leisure_rating']
X = sm.add_constant(X)
model11 = sm.OLS(y, X).fit()
model11.summary()

KeyError: 'leisure_rating'

In [ ]:
is_store = False
is_school = False
is_food = False
is_church = False

food_rating = []
school_rating = []

In [277]:
unique_types = set(all_types)

In [305]:
types_series = pd.Series(all_types)

In [308]:
types_dict = {
    "logding": [],
    "food": [],
    "store": [],
    "restaurant": [],
    "bar": [],
    "school": []
}

In [309]:
types_dict.keys()

dict_keys(['logding', 'food', 'store', 'restaurant', 'bar', 'school'])

In [318]:
for row in geo_df.itertuples():
    index = row.Index
    iter_row = geo_df.iloc[index]
    
    types_dict = {
        "logding": 0,
        "food": 0,
        "store": 0,
        "restaurant": 0,
        "bar": 0,
        "school": 0
    }
    
    geo_data = iter_row['geo_data']
    
    
    # Dist to center
    city_center_lat = geo_data[0]['latitude']
    city_center_lon = geo_data[0]['longitude']
    city_center_coor = city_center_lat, city_center_lon
    
    property_coor = iter_row.latitude, iter_row.longitude
    
    geo_df.at[index, 'dist_to_center'] = distance(property_coor, city_center_coor)
    
    # Average rating
    all_types_current = set()
    for loc in geo_data:
        types = loc['types']
        rating = loc['rating']
        
        for type_ in types:
            if type_ in types_dict.keys():
                types_dict[type_] = 1
            
    for key, value in types_dict.items():
        if value == 1:
            geo_df.at[index, key] = 1
        else:
            geo_df.at[index, key] = 0

In [321]:
list(types_dict.keys())

['logding', 'food', 'store', 'restaurant', 'bar', 'school']

In [322]:

import statsmodels.api as sm
y = geo_df['yearly_price']
X = geo_df[list(types_dict.keys())]
X = sm.add_constant(X)
model11 = sm.OLS(y, X).fit()
model11.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           yearly_price   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     8.390
Date:                Mon, 20 Jun 2022   Prob (F-statistic):           7.27e-08
Time:                        00:21:43   Log-Likelihood:                -21717.
No. Observations:                2000   AIC:                         4.345e+04
Df Residuals:                    1994   BIC:                         4.348e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.795e+04   1704.588     10.530      0.000    1.46e+04    2.13e+04
logding    -7.016e-12    3.9e-12     -1.798      0.072   -1.47e-11    6.37e-13
food       -1110.4798   1714.014     -0.648      0.517   -4471.926    2250.966
store      -4740.0429    996.228     -4.758      0.000   -6693.799   -2786.287
restaurant   171.9685   1080.178      0.159      0.874   -1946.428    2290.365
bar         2135.4175    698.390      3.058      0.002     765.767    3505.068
school      -495.3481    606.610     -0.817      0.414   -1685.004     694.307
==============================================================================
Omnibus:                     2342.382   Durbin-Watson:                   1.837
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           360181.894
Skew:                           5.876   Prob(JB):                         0.00
Kurtosis:                      67.684   Cond. No.                     8.36e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.22e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [327]:
geo_df.geo_data.iloc[0]

[{'longitude': -4.498792,
  'latitude': 55.614719,
  'name': 'Kilmarnock',
  'types': ['locality', 'political'],
  'rating': None},
 {'longitude': -4.5100703,
  'latitude': 55.6037963,
  'name': 'The Park Hotel',
  'types': ['lodging'],
  'rating': 4.3},
 {'longitude': -4.4998228,
  'latitude': 55.6086177,
  'name': 'Furniture Discount Warehouse',
  'types': ['furniture_store', 'home_goods_store', 'store'],
  'rating': 5},
 {'longitude': -4.4972466,
  'latitude': 55.60758939999999,
  'name': 'Subway',
  'types': ['meal_takeaway', 'restaurant', 'food'],
  'rating': 3.7},
 {'longitude': -4.4964086,
  'latitude': 55.6098446,
  'name': 'Shoe Zone',
  'types': ['shoe_store', 'store'],
  'rating': 3.9},
 {'longitude': -4.500683499999999,
  'latitude': 55.60806219999999,
  'name': 'The Howard Centre',
  'types': ['church', 'place_of_worship'],
  'rating': 4.5},
 {'longitude': -4.496742500000001,
  'latitude': 55.61027000000001,
  'name': 'Costa Coffee',
  'types': ['cafe', 'food', 'store'],
  'rating': 4.2},
 {'longitude': -4.496919399999999,
  'latitude': 55.61091810000001,
  'name': 'Sports Direct',
  'types': ['shoe_store', 'bicycle_store', 'clothing_store', 'store'],
  'rating': 3.3},
 {'longitude': -4.5032288,
  'latitude': 55.6088701,
  'name': 'Brown Elaine',
  'types': ['health'],
  'rating': None},
 {'longitude': -4.496775100000001,
  'latitude': 55.6096715,
  'name': 'King World Travel',
  'types': ['travel_agency'],
  'rating': 5},
 {'longitude': -4.5035684,
  'latitude': 55.607856,
  'name': 'G H Resourcing Ltd',
  'types': [],
  'rating': None},
 {'longitude': -4.5053938,
  'latitude': 55.61194769999999,
  'name': 'Memory Lane',
  'types': ['bar', 'restaurant', 'food'],
  'rating': 4.2},
 {'longitude': -4.5022679,
  'latitude': 55.60860160000001,
  'name': 'McDowalls Motors',
  'types': ['car_repair'],
  'rating': 3.4},
 {'longitude': -4.498699,
  'latitude': 55.6147272,
  'name': 'Wise Property Care Ltd',
  'types': ['real_estate_agency'],
  'rating': 3},
 {'longitude': -4.501251299999999,
  'latitude': 55.607995,
  'name': 'Boots Pharmacy',
  'types': ['pharmacy', 'health', 'store'],
  'rating': 4.3},
 {'longitude': -4.4958214,
  'latitude': 55.611042,
  'name': 'GMB',
  'types': [],
  'rating': 2},
 {'longitude': -4.497161799999999,
  'latitude': 55.6115881,
  'name': 'Jobs at Mackenzie Hall',
  'types': [],
  'rating': None},
 {'longitude': -4.4969055,
  'latitude': 55.60770979999999,
  'name': 'River Island',
  'types': ['clothing_store', 'store'],
  'rating': 3.7},
 {'longitude': -4.4970621,
  'latitude': 55.61164739999999,
  'name': 'Mackenzie Hall',
  'types': ['finance'],
  'rating': 5},
 {'longitude': -4.552556,
  'latitude': 55.612266,
  'name': 'Crosshouse',
  'types': ['locality', 'political'],
  'rating': None}]

In [2]:
import pandas as pd

In [3]:
geo_df = pd.read_csv("geo_df.csv")

In [17]:
import json
import ast

In [13]:
geo_df.iloc[0].geo_data

"[{'longitude': -4.498792, 'latitude': 55.614719, 'name': 'Kilmarnock', 'types': ['locality', 'political'], 'rating': None}, {'longitude': -4.5100703, 'latitude': 55.6037963, 'name': 'The Park Hotel', 'types': ['lodging'], 'rating': 4.3}, {'longitude': -4.4998228, 'latitude': 55.6086177, 'name': 'Furniture Discount Warehouse', 'types': ['furniture_store', 'home_goods_store', 'store'], 'rating': 5}, {'longitude': -4.4972466, 'latitude': 55.60758939999999, 'name': 'Subway', 'types': ['meal_takeaway', 'restaurant', 'food'], 'rating': 3.7}, {'longitude': -4.4964086, 'latitude': 55.6098446, 'name': 'Shoe Zone', 'types': ['shoe_store', 'store'], 'rating': 3.9}, {'longitude': -4.500683499999999, 'latitude': 55.60806219999999, 'name': 'The Howard Centre', 'types': ['church', 'place_of_worship'], 'rating': 4.5}, {'longitude': -4.496742500000001, 'latitude': 55.61027000000001, 'name': 'Costa Coffee', 'types': ['cafe', 'food', 'store'], 'rating': 4.2}, {'longitude': -4.496919399999999, 'latitude': 55.61091810000001, 'name': 'Sports Direct', 'types': ['shoe_store', 'bicycle_store', 'clothing_store', 'store'], 'rating': 3.3}, {'longitude': -4.5032288, 'latitude': 55.6088701, 'name': 'Brown Elaine', 'types': ['health'], 'rating': None}, {'longitude': -4.496775100000001, 'latitude': 55.6096715, 'name': 'King World Travel', 'types': ['travel_agency'], 'rating': 5}, {'longitude': -4.5035684, 'latitude': 55.607856, 'name': 'G H Resourcing Ltd', 'types': [], 'rating': None}, {'longitude': -4.5053938, 'latitude': 55.61194769999999, 'name': 'Memory Lane', 'types': ['bar', 'restaurant', 'food'], 'rating': 4.2}, {'longitude': -4.5022679, 'latitude': 55.60860160000001, 'name': 'McDowalls Motors', 'types': ['car_repair'], 'rating': 3.4}, {'longitude': -4.498699, 'latitude': 55.6147272, 'name': 'Wise Property Care Ltd', 'types': ['real_estate_agency'], 'rating': 3}, {'longitude': -4.501251299999999, 'latitude': 55.607995, 'name': 'Boots Pharmacy', 'types': ['pharmacy', 'health', 'store'], 'rating': 4.3}, {'longitude': -4.4958214, 'latitude': 55.611042, 'name': 'GMB', 'types': [], 'rating': 2}, {'longitude': -4.497161799999999, 'latitude': 55.6115881, 'name': 'Jobs at Mackenzie Hall', 'types': [], 'rating': None}, {'longitude': -4.4969055, 'latitude': 55.60770979999999, 'name': 'River Island', 'types': ['clothing_store', 'store'], 'rating': 3.7}, {'longitude': -4.4970621, 'latitude': 55.61164739999999, 'name': 'Mackenzie Hall', 'types': ['finance'], 'rating': 5}, {'longitude': -4.552556, 'latitude': 55.612266, 'name': 'Crosshouse', 'types': ['locality', 'political'], 'rating': None}]"

In [19]:
geo_data = ast.literal_eval(geo_df.iloc[0].geo_data)

In [20]:
import json
geo_data_json = json.dumps(geo_data)

In [21]:
geo_data_json

'[{"longitude": -4.498792, "latitude": 55.614719, "name": "Kilmarnock", "types": ["locality", "political"], "rating": null}, {"longitude": -4.5100703, "latitude": 55.6037963, "name": "The Park Hotel", "types": ["lodging"], "rating": 4.3}, {"longitude": -4.4998228, "latitude": 55.6086177, "name": "Furniture Discount Warehouse", "types": ["furniture_store", "home_goods_store", "store"], "rating": 5}, {"longitude": -4.4972466, "latitude": 55.60758939999999, "name": "Subway", "types": ["meal_takeaway", "restaurant", "food"], "rating": 3.7}, {"longitude": -4.4964086, "latitude": 55.6098446, "name": "Shoe Zone", "types": ["shoe_store", "store"], "rating": 3.9}, {"longitude": -4.500683499999999, "latitude": 55.60806219999999, "name": "The Howard Centre", "types": ["church", "place_of_worship"], "rating": 4.5}, {"longitude": -4.496742500000001, "latitude": 55.61027000000001, "name": "Costa Coffee", "types": ["cafe", "food", "store"], "rating": 4.2}, {"longitude": -4.496919399999999, "latitude": 55.61091810000001, "name": "Sports Direct", "types": ["shoe_store", "bicycle_store", "clothing_store", "store"], "rating": 3.3}, {"longitude": -4.5032288, "latitude": 55.6088701, "name": "Brown Elaine", "types": ["health"], "rating": null}, {"longitude": -4.496775100000001, "latitude": 55.6096715, "name": "King World Travel", "types": ["travel_agency"], "rating": 5}, {"longitude": -4.5035684, "latitude": 55.607856, "name": "G H Resourcing Ltd", "types": [], "rating": null}, {"longitude": -4.5053938, "latitude": 55.61194769999999, "name": "Memory Lane", "types": ["bar", "restaurant", "food"], "rating": 4.2}, {"longitude": -4.5022679, "latitude": 55.60860160000001, "name": "McDowalls Motors", "types": ["car_repair"], "rating": 3.4}, {"longitude": -4.498699, "latitude": 55.6147272, "name": "Wise Property Care Ltd", "types": ["real_estate_agency"], "rating": 3}, {"longitude": -4.501251299999999, "latitude": 55.607995, "name": "Boots Pharmacy", "types": ["pharmacy", "health", "store"], "rating": 4.3}, {"longitude": -4.4958214, "latitude": 55.611042, "name": "GMB", "types": [], "rating": 2}, {"longitude": -4.497161799999999, "latitude": 55.6115881, "name": "Jobs at Mackenzie Hall", "types": [], "rating": null}, {"longitude": -4.4969055, "latitude": 55.60770979999999, "name": "River Island", "types": ["clothing_store", "store"], "rating": 3.7}, {"longitude": -4.4970621, "latitude": 55.61164739999999, "name": "Mackenzie Hall", "types": ["finance"], "rating": 5}, {"longitude": -4.552556, "latitude": 55.612266, "name": "Crosshouse", "types": ["locality", "political"], "rating": null}]'

In [22]:
property_id = 234221380

In [23]:
property_id

234221380

In [24]:
import mysql.connector

In [25]:
config = {
                'user': 'root',
                'password': 'Alex6581',
                'host': 'localhost',
                }

con = mysql.connector.connect(**config)

cursor = con.cursor(buffered=True)

cursor.execute('USE real_estate')
cursor.execute('SET FOREIGN_KEY_CHECKS = 0')

In [43]:
transaction = "INSERT INTO property_geodata_final(property_id, geo_data) VALUES ('{}', '{}');".format(
        property_id, geo_data_json)

In [44]:
cursor.execute(transaction)
con.commit()

In [37]:
geo_data_json = dict_['geo_data']

In [42]:
geo_data_json = geo_data_json.replace("\'", "")

In [40]:
{"lat" : 53.84369840000001}

{'lat': 53.84369840000001}